---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + Bun | Error Page</title>
  </head>
  <body>
    <h1>Astro + Bun | Error Page</h1>
    <p>Whoops, it looks like the page you requested cannot be found</p>
  </body>
</html>
